@model string

<h3 class="p-2 bg-primary text-white">This is static content</h3>

<div class="container text-center">
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            @Model
        </div>

    </div>
</div>